.layout {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
}

.right-column {
  margin: 0 30px;
}

.img-container {
  margin-bottom: 20px;
}

.articleContainer {
  position: fixed;
  margin-right: calc(12% + 220px + 20px);
}

.articleTitle,
.articleSubtitle {
  display: inline;
  font-size: 12px;
}

.articleSubtitle {
  display: inline;
  font-weight: normal;
  font-style: italic;
}

.articleTitleSecondLine {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  margin: 0;
}

.article {
  font-size: 11px;
  line-height: 16px;
}

@media only screen and (max-width: 600px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .left-column {
    margin: 20px;
  }

  .right-column {
    margin: 0;
  }

  .articleContainer {
    position: initial;
    margin: 0 20px;
  }
}
