.layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.profile-picture-container {
  margin-left: 20px;
}

.circular-cutout {
  border-radius: 50%;
}

.cv-container {
  padding-left: 12%;
}

.section-header {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: normal;
  text-decoration: underline;
}

.subsection-header {
  font-size: 12px;
  margin: 0;
}
