.layout {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
}

.left-column {
}

.right-column {
  margin: 0 30px;
}

.img-container {
  margin-bottom: 20px;
}

.articleContainer {
  position: fixed;
  margin-right: calc(12% + 220px + 20px);
}

.articleTitle,
.articleSubtitle {
  display: inline;
  font-size: 12px;
}

.articleSubtitle {
  display: inline;
  font-weight: normal;
  font-style: italic;
}

.articleTitleSecondLine {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  margin: 0;
}

.article {
  font-size: 11px;
  line-height: 16px;
}
